@page "/"

<h1>Report Viewer</h1>

<p>
    Welcome to the report viewer.
</p>

<AuthorizeView>
    <NotAuthorized>
        <p>
            Please login to start viewing the latest reports
        </p>
    </NotAuthorized>
    <Authorized>
        <p>
            Please select a report to view
        </p>
    </Authorized>
</AuthorizeView>