@page "/report"
@attribute [Authorize]
@inherits ReportBase

<h1>View Report</h1>

@if (Blob == null && string.IsNullOrEmpty(Json))
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>Loaded!</em></p>
}